<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Get Free Quote</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="assets/css/vendor/1-sanitize.min.css">
        <link rel="stylesheet" href="assets/css/vendor/2-bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/styles.min.css">
    </head>

    <body data-spy="scroll" data-target="#net-nav" data-offset="50">

        <!-- Main Page Header -->
        <header class="mainHeader">
            <!-- NavBar  -->
            <div id="top" class="headtop">
                <div class="container position-relative">
                    <div class="top-links mr-0 pr-0 mr-md-5 pr-md-4">
                        <a href="tel:+182345678">Call Us: <i>+18-23-4567-8</i></a>
                        <a href="mailto:info@packprinters.com">Email: <i>info@packprinters.com</i></a>
                    </div>
                    <!-- Social Icons -->
                    <div class="social-icons-wrap">
                        <span class="v-line"></span>
                        <a href="https://www.facebook.com" target="_blank" class="social-icon">
                            <img src="assets/images/icons/facebook.png" alt="facebook">
                        </a>
                        <a href="https://www.instagram.com" target="_blank" class="social-icon">
                            <img src="assets/images/icons/instagram.png" alt="instagram">
                        </a>
                        <a href="https://www.twitter.com" target="_blank" class="social-icon">
                            <img src="assets/images/icons/twitter.png" alt="twitter">
                        </a>
                        <a href="https://www.pinterest.com" target="_blank" class="social-icon">
                            <img src="assets/images/icons/pinterest.png" alt="pinterest">
                        </a>
                        <a href="https://www.behance.com" target="_blank" class="social-icon">
                            <img src="assets/images/icons/behance.png" alt="behance">
                        </a>
                    </div>
                </div>

            </div>
            <!-- Search Bar -->
            <div class="search-bar">
                <img src="assets/images/icons/magnifying-glass.png" alt="search">
                <input type="text" placeholder="Search...">
                <span class="close-searchBar">x</span>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light" data-toggle="sticky-onscroll">
                <div class="container">
                    <a href="index.html" class="navbar-brand">
                        <!-- Logo Image Here -->
                        <img class="logo-img" src="assets/images/Common/pack-printers.logo.svg" alt="packaging head">
                    </a>
                    <button class="navbar-toggler" data-target="#net-nav" data-toggle="collapse" aria-controls="net-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="net-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto text-center text-md-left">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    box by industry <span class="sr-only">(current)</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="cbdcustompackaging.html">
                                        <img src="assets/images/navbar-images/cbd-packaging-boxes-60x60.png" alt="">
                                        CBD Packaging Boxes
                                    </a>
                                    <a class="dropdown-item" href="customCosmeticBox.html">
                                        <img src="assets/images/Common/dd1-1.png" alt="">
                                        custom cosmetic box
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd1-2.png" alt="">
                                        custom display package
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd1-3.png" alt="">
                                        custom eco friendly boxes
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd1-5.png" alt="">
                                        custom gift boxes
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd1-7.png" alt="">
                                        custom retail boxes
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd1-8.png" alt="">
                                        custom retail packaging
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/navbar-images/Chinese-Food-Boxes-50x50.png" alt="">
                                        food & beverages boxes
                                    </a>

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="boxByStyle.html"
                                    onclick="window.location.href='boxByStyle.html'" target="_blank"
                                    id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    box by style
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item" href="bottomClosure.html">
                                        <img src="assets/images/Common/dd2-1.png" alt="">
                                        bottom closure
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd2-2.png" alt="">
                                        CD Covers
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd2-3.png" alt="">
                                        figure & pattern
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd2-4.png" alt="">
                                        fold & assemble
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd2-5.png" alt="">
                                        rectangular
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd2-6.png" alt="">
                                        showcase exhibit
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/Common/dd2-7.png" alt="">
                                        top closure
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="others.html"
                                    onclick="window.location.href='others.html'" target="_blank" id="navbarDropdown4"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Others
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                    <a class="dropdown-item" href="customStickers.html">
                                        <img src="assets/images/navbar-images/Die-Cut-Folders-50x50.png" alt="">
                                        presentation folder
                                    </a>
                                    <a class="dropdown-item" href="customStickers.html">
                                        <img src="assets/images/navbar-images/stickers-and-lables-50x50.png" alt="">
                                        custom stickers & lables
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/navbar-images/Cling-Decals-50x50.png" alt="">
                                        decals
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/navbar-images/Magazine-Printing-50x50.png" alt="">
                                        magazines
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <img src="assets/images/navbar-images/bottle-neckers-50x50.png" alt="">
                                        bottle necker
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        other
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="blog.html">blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-btn" href="getFreeQuote.html">
                                    <span>get free quote</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link search">
                                    <img src="assets/images/icons/magnifying-glass.png" alt="search icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <!-- Main Area -->
        <main>

            <section class="boxesByIndustry">
                <header class="commonHeader mb-5">
                    <h1 class="text-capitalize">Get Free Quote</h1>
                    <p>
                        all custom boxes you need for your product
                    </p>
                </header>

                <div class="quoteForm">
                    <div class="container">
                        <!-- Beat My Quote Row -->
                        <form action="post">
                            <div class="row">
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            your name *
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Your Name *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            your email *
                                        </h5>
                                        <input type="email" class="form-control" placeholder="Your Email *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            your phone *
                                        </h5>
                                        <input type="tel" class="form-control" placeholder="Your Phone *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            company name *
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Company Name *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            Select Box Type:
                                        </h5>
                                        <select id="my-select" class="form-control" name="">
                                            <option>Text</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            Size:
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Width *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            Size:
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Height *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-3">
                                    <div class="input-wrap">
                                        <h5>
                                            Size:
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Length *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-6">
                                    <div class="input-wrap">
                                        <h5>
                                            Unit
                                        </h5>
                                        <select id="" class="form-control" name="">
                                            <option>CM</option>
                                            <option>MM</option>
                                            <option>INCHES</option>
                                            <option>FEET</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-6">
                                    <div class="input-wrap">
                                        <h5>
                                            Color Option
                                        </h5>
                                        <select id="" class="form-control" name="">
                                            <option value="0">1 Color</option>
                                            <option value="1">2 Color</option>
                                            <option value="2">3 Color</option>
                                            <option value="3">4 Color</option>
                                            <option value="4">4/1 Color</option>
                                            <option value="5">4/2 Color</option>
                                            <option value="6">4/3 Color</option>
                                            <option value="7">4/4 Color</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-4">
                                    <div class="input-wrap">
                                        <h5>
                                            Quantity:
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Qty1 *" required>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-4">
                                    <div class="input-wrap">
                                        <h5> &nbsp;
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Qty2">
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-4">
                                    <div class="input-wrap">
                                        <h5> &nbsp;
                                        </h5>
                                        <input type="text" class="form-control" placeholder="Qty3">
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-6">
                                    <div class="input-wrap">
                                        <h5>
                                            Additional Comments:
                                        </h5>
                                        <textarea id="my-textarea" class="form-control" name="" rows="3"
                                            placeholder="Let us know what you need! Box dimensions, number of boxes you need, design – we can help."></textarea>
                                    </div>
                                </div>
                                <!-- Quote Form Item -->
                                <div class="col-md-6">
                                    <div class="input-wrap">
                                        <h5>
                                            Attach File:
                                        </h5>
                                        <input type="file" name="file" id="file">
                                        <label for="file" style="font-size: 14px;">Maximum file size 12 MB.(jpg, png,
                                            gif, doc, docx, xls, xlsx,
                                            pdf, ai, cdr)</label>
                                    </div>
                                </div>
                                <!-- Submit Button -->
                                <div class="col-md-2 text-center text-md-left">
                                    <button type="submit" class="mb-5 mb-md-0">
                                        send
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <!-- Our Benifits -->
            <div class="benifits-banner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <div class="benifits-wrap">
                                <div class="row justify-content-around no-gutters">
                                    <!-- Benifit Item -->
                                    <div class="col-md-3 mb-5 mb-md-0">
                                        <div class="benifit-item">
                                            <img src="assets/images/icons/secure-payment-1.png">
                                            <h5>secure payment</h5>
                                            <p>visa, masterCard, PayPal etc</p>
                                        </div>
                                    </div>
                                    <!-- Benifit Item -->
                                    <div class="col-md-3 mb-5 mb-md-0">
                                        <div class="benifit-item">
                                            <img src="assets/images/icons/shiping-1.png" style="width: 80px;">
                                            <h5>world wide shipping</h5>
                                            <p>6-8 business days</p>
                                        </div>
                                    </div>
                                    <!-- Benifit Item -->
                                    <div class="col-md-3 mb-5 mb-md-0">
                                        <div class="benifit-item">
                                            <img src="assets/images/icons/design-support-1.png" style="width: 61px;">
                                            <h5>free design support</h5>
                                            <p>with 2D and 3D mockup</p>
                                        </div>
                                    </div>
                                    <!-- Benifit Item -->
                                    <div class="col-md-3">
                                        <div class="benifit-item">
                                            <img src="assets/images/icons/customize-1.png" style="width: 58px;">
                                            <h5>custom size & design</h5>
                                            <p>premium custom boxes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Printing Quality Section -->
            <section class="printing">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 d-flex flex-column justify-content-center">
                            <h1>
                                Looking for something out of the box?
                            </h1>
                            <p>
                                We have an excellent quality of
                                personalized Custom Boxes with
                                digital and Off-Set printing services.
                            </p>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-6">
                                    <img class="img-fluid" src="assets/images/homepage/print-img-1.png"
                                        alt="print image">
                                    <img class="img-fluid mt-2" src="assets/images/homepage/print-img-2.png"
                                        alt="print image">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="assets/images/homepage/print-img-3.png"
                                        alt="print image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Triangle Shapes -->
            <div class="triangle-Shapes-wrap">
                <div id="triangle" class="left-tri"></div>
                <div id="triangle" class="right-tri"></div id="triangle">
            </div>

            <!-- Detals Section -->
            <section class="details" style="margin-top: 30px">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="detail-area" data-simplebar data-simplebar-auto-hide="true"
                                style="height: 320px">
                                <!-- Details Articel Item -->
                                <article>
                                    <h3 class="text-center text-capitalize" style="font-size: 28px;">
                                        why we are best
                                    </h3>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book. It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                        with the release of Letraset sheets containing Lorem Ipsum passages, and more
                                        recently with desktop publishing software like Aldus PageMaker including
                                        versions of Lorem Ipsum.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Products Slider -->
            <div class="prods-slider">
                <div class="slider-wrap" data-aos="fade-left" data-aos-duration="1700">
                    <div class="left-slider-btn">
                        <img src="assets/images/icons/arrow.png" alt="arrow">
                    </div>
                    <div class="slide-area">
                        <div class="owlOne owl-carousel owl-theme">
                            <a href="https://www.instagram.com" target="_blank" class="item">
                                <img class="" src="assets/images/Common/CBD-Box-With-Bottle.jpg" alt="Slider Image">
                            </a>
                            <a href="https://www.instagram.com" target="_blank" class="item">
                                <img class="" src="assets/images/Common/Chinese-product-Tuck-End-Box.jpg"
                                    alt="Slider Image">
                            </a>
                            <a href="https://www.instagram.com" target="_blank" class="item">
                                <img class="" src="assets/images/Common/Corrugated-Kraft-Boxes.jpg" alt="Slider Image">
                            </a>
                            <a href="https://www.instagram.com" target="_blank" class="item">
                                <img class="" src="assets/images/Common/Mix_Tuck_End_Boxes.jpg" alt="Slider Image">
                            </a>
                            <a href="https://www.instagram.com" target="_blank" class="item">
                                <img class="" src="assets/images/Common/Sleeve-Chocolate-Box.jpg" alt="Slider Image">
                            </a>
                            <a href="https://www.instagram.com" target="_blank" class="item">
                                <img class="" src="assets/images/Common/Tuck-Box.jpg" alt="Slider Image">
                            </a>
                        </div>
                    </div>
                    <div class="right-slider-btn">
                        <img src="assets/images/icons/arrow.png" alt="arrow">
                    </div>
                </div>
            </div>

        </main>

        <!-- Footer -->
        <footer>
            <div class="container pb-5" data-aos="fade-up" data-aos-duration="1500">
                <!-- Clients Slider -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="clients-slider">
                            <h4>
                                TRUSTED BY THE WORLD'S TOP BRANDS
                            </h4>
                            <div class="clients owl-carousel owl-theme" data-aos="flip-up" data-aos-duration="2000">
                                <div class="item">
                                    <img class="" src="assets/images/Common/marriot.svg" alt="Client Logo">
                                </div>
                                <div class="item">
                                    <img class="" src="assets/images/Common/metlife.svg" alt="Client Logo">
                                </div>
                                <div class="item">
                                    <img class="" src="assets/images/Common/old_spice.svg" alt="Client Logo">
                                </div>
                                <div class="item">
                                    <img class="" src="assets/images/Common/pandora.svg" alt="Client Logo">
                                </div>
                                <div class="item">
                                    <img class="" src="assets/images/Common/ticketmaster.svg" alt="Client Logo">
                                </div>
                                <div class="item">
                                    <img class="" src="assets/images/Common/adidas.svg" alt="Client Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between" data-aos="slide-up" data-aos-duration="1700">
                    <div class="col-lg-3">
                        <a class="foot-img" href="#">
                            <img src="assets/images/Common/pack-printers.logo.svg" alt="footer Logo">
                        </a>
                        <p>
                            Every custom box we create is made just for
                            you. You can customize every inch of your
                            box design inside and out, while our state of
                            the art printing ensures you'll love the
                            quality of your finished packaging boxes.
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <div class="links">
                            <h5>
                                box by industry
                            </h5>
                            <a href="cbdboxes.html" target="_blank">CBD Packaging Boxes</a>
                            <a href="customCosmeticBox.html" target="_blank">Custom Cosmetic Box</a>
                            <a href="customCosmeticBox.html" target="_blank">Custom display packaging</a>
                            <a href="customCosmeticBox.html" target="_blank">food and beverages boxes</a>
                            <a href="customCosmeticBox.html" target="_blank">Custom retail packaging</a>
                            <a href="customCosmeticBox.html" target="_blank">Custom eco friendly boxes</a>
                            <a href="customCosmeticBox.html" target="_blank">Custom retail Box</a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="links">
                            <h5>
                                quick links
                            </h5>
                            <a href="contactUs.html" target="_blank">Contact Us</a>
                            <a href="aboutUs.html" target="_blank">About Us</a>
                            <a href="termsOfUse.html" target="_blank">Terms of Use</a>
                            <a href="privatePolicy.html" target="_blank">Private policy</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="links">
                            <h5>
                                contact
                            </h5>
                            <a href="http://www.googlemaps.com" target="_blank">Street: 114 spartan ave, staten <br>
                                island,
                                New Your, USA</a>
                            <a href="tel:18184767382" target="_blank">1-818-476-7382</a>
                            <a href="mailto:info@packprinters.com" target="_blank">info@packprinters.com</a>
                        </div>
                        <div class="social-icons">
                            - &nbsp;
                            <a href="httpe://www.facebook.com" target="_blank">
                                <img src="assets/images/icons/facebook.png" alt="facebook"></a>
                            <a href="httpe://www.twitter.com" target="_blank">
                                <img src="assets/images/icons/twitter.png" alt="twitter"></a>
                            <a href="httpe://www.instagram.com" target="_blank">
                                <img src="assets/images/icons/instagram.png" alt="instagram"></a>
                            <a href="httpe://www.behance.com" target="_blank">
                                <img src="assets/images/icons/behance.png" alt="behnace"></a>
                            <a href="httpe://www.pinterest.com" target="_blank">
                                <img src="assets/images/icons/pinterest.png" alt="pinterest"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footbar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footwrap">
                                <img src="assets/images/Common/certificate.png" alt="certificates bar">
                                <p>
                                    2019 Pack Printers. All Rights Reserved
                                </p>
                                <img src="assets/images/Common/payment-icons.png" alt="payment bar">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>

        <!-- JavaScript Files -->
        <script src="assets/js/vendor/1-jquery-3.4.0.min.js"></script>
        <script src="assets/js/vendor/2-bootstrap.min.js"></script>
        <script src="assets/js/vendor/3-popper.min.js"></script>
        <script src="assets/js/vendor/4-simplebar.min.js"></script>
        <script src="assets/js/scripts.min.js"></script>
    </body>

</html>
